<!DOCTYPE html>
<html lang="en">
<head>
    <title>Splitvengers</title>
    <meta charset="utf-8" />
</head>

<body>
<h1>Add an expense <br>
</h1>

<!-- <button type = "button" id="addExpense">Add</button> -->

<form>
    <form action="/action_page.php"></form>
    <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br>
  <label for="amount">Amount (R):</label><br>
  <input type="number" id="amount" name="amount" min="0"><br>
  <input type="submit" value="Submit">

   </form>

</body>
</html>
