<!DOCTYPE html>
<html lang="en">
<head>
    <title>Splitvengers</title>
    <meta charset="utf-8" />
</head>
<body>

<h1>Welcome to Splitvengers!!<br>
    <img src="bat.png" width ="200" height="200" align="left">
    
</h1>
<p1>

     Login if you already have an Account
    <input type="button" onclick="location.href='logInpage';" value="Login" /><br>
    <br>Register to create a new Account
    <input type="button" onclick="location.href='registrationPage';" value="Register" />
</p1>
<p><a href="Splitvengers">Return to original page</a></p>
</body>
</html>
